- var myhttp = "http://localhost:3000"
#top
 | simple-twitter-client 
 | #{process.env.TWITTER_SCREEN_NAME}
 |<a href=#{myhttp}>home</a>
 |<a href=#{myhttp+"/lm"}>limit</a>
 |<a href=#{myhttp+"/tr"}>trend</a>
 | _____________________________________ v0.5.0 at 2017/4/1 <br>
input(type='text' size=60 id="idtext") 
input(type='button' onclick="clicked()" value="検索" width=60 height=20) 
input(type='hidden' size=2)
input(type='button' onclick="tweet()" value="ｔｗ" width=60 height=20) 
script
  |function clicked() {
  | console.log("clicked!")
  | idtext = document.getElementById('idtext');
  | location.href='http://localhost:3000/sc?q='+idtext.value; }
script
  | function tweet() {
  | console.log("tweet!")
  | idtext = document.getElementById('idtext');
  | location.href='http://localhost:3000/tw?q='+idtext.value;
  | }