html
  include includes/head.pug
  #11 ----listmember #{sn}/#{slug} 
   - var icnt = parseInt(cnt)
   |<a href=#{myhttp+"/listmember?nm="+sn+"&slug="+slug+"&cursor="+pre+"&cnt="+(icnt-20)}>pre</a>  
   |<a href=#{myhttp+"/listmember?nm="+sn+"&slug="+slug+"&cursor="+next+"&cnt="+(icnt+20)}>next</a>
  include includes/membertable.pug
