html
  include includes/head.pug
  table
    thead
      tr
        td no
        td name          
    tbody
      - for (var i=0;i<tr.length;i++) {
          tr
            td #{i}
            -var txt = decodeURIComponent(tr[i].query)
            td <a href=#{myhttp+'/sc?q='+tr[i].query}>#{txt}</a>
      - }